<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Type</th>
      <th scope="col">Security</th>
      <th scope="col" class="text-right">Shares</th>
      <th scope="col" class="text-right">Value</th>
      <th scope="col" class="text-right">Cashflow</th>
      <th scope="col" class="text-right">&nbsp;</th>
      <th scope="col" class="text-right">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions;">
      <th scope="row">{{transaction.id}}</th>
      <td>{{transaction.date | date: 'dd-MM-yyyy' }}</td>
      <td>{{transaction.type}}</td>
      <td><span class="text-muted">{{transaction.security || 'N/A'}}</span></td>
      <td class="text-right"><span class="text-muted">{{transaction.shares || 'N/A'}}</span></td>
      <td class="text-right">{{(transaction.value/100) | currency: 'GBP' }}</td>
      <td class="text-right" [ngClass]="transaction.cashflow > 0 ? 'text-success' : 'text-danger'">{{(transaction.cashflow/100) | currency: 'GBP'}}</td>
      <td class="text-right"><a href="#" (click)="onEdit(transaction)">Edit</a></td>
      <td class="text-right"><a href="#" (click)="onDelete(transaction)">Delete</a></td></tr>
  </tbody>
  <tfoot>
    <tr>
        <td colspan="6">Cumulative cashflow</td>
        <td class="text-right">&pound;{{cumulativeCashflow}}</td>
        <td colspan="2">&nbsp;</td>
    </tr>
</tfoot>
</table>