<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Type</th>
      <th scope="col">Security</th>
      <th scope="col" class="text-right">Shares</th>
      <th scope="col" class="text-right">Value</th>
      <th scope="col" class="text-right">Cashflow</th>
      <th scope="col" class="text-right">&nbsp;</th>
      <th scope="col" class="text-right">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>12/06/2019</td>
      <td>Deposit</td>
      <td><span class="text-muted">n/a</span></td>
      <td class="text-right"><span class="text-muted">n/a</span></td>
      <td class="text-right">&pound;5,000</td>
      <td class="text-right text-success">+&pound;5,000</td>
      <td class="text-right"><a href="#">Edit</a></td>
      <td class="text-right"><a href="#">Delete</a></td></tr>
  </tbody>
</table>