<div class="card mt-4">
    <div class="card-body">
        <h3>{{formMode}}</h3>
        <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="date">Date</label>
                <input formControlName="date" type="date" class="form-control" id="date">
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <select id="type" class="form-control" formControlName="type">
                    <option disabled selected>Please select...</option>
                    <option 
                        *ngFor="let type of types" [value]="type">{{type}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="security">Security</label>
                <input type="text" class="form-control" id="security" formControlName="security">
            </div>
            <div class="form-group">
                <label for="shares">Shares</label>
                <input type="number" class="form-control" id="shares" formControlName="shares">
            </div>
            <div class="form-group">
                <label for="value">Value</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">&pound;</span>
                    </div>
                    <input type="number" class="form-control" id="value" formControlName="value">
                </div>
            </div>
            <button [disabled]="transactionForm.pristine" type="submit" class="btn btn-primary">{{formMode}}</button>
        </form>
    </div>
</div>